.git
.gitignore
.dockerignore
website/node_modules
website/dist
yopass-source
*.bundle
**/node_modules
**/.DS_Store
**/coverage
**/*.log
onepass-final.png
*.tar.gz
onepass-repo/
deploy/cdk/.cdk.out
deploy/cdk/cdk.out
README.md
DOCKER.md
IMPROVE-BRIEF.md
docs/
